* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;

  /* FUNDO */
  background-image: url("fundo.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* BOTÕES CILÍNDRICOS */
.cilindro {
  width: 600px;
  height: 68px;
  background: linear-gradient(to bottom, #111, #000);
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s e
